#i1 {
    height: 400px;
}

#i2 {
    height: 200px;
}

#i3 {
    height: 250px;
}

#i4 {
    height: 450px;
}

#i5 {
    height: 600px;
}

#body ul {
    left: 50px;
    list-style-type: disc;
    padding: 5px 0;
    position: relative;
}
