#content a {
    background: #DCD0C0;
    text-decoration: none;
}

#content a:hover {
    background: #C0B283;
    transition: all 0.75s ease;
}

#i1 {
    height: 400px;
}

#i2 {
    height: 250px;
}

#i3 {
    height: 350px;
}

#i4 {
    height: 150px;
}


#body ul {
    left: 50px;
    list-style-type: disc;
    padding: 5px 0;
    position: relative;
}
