#body {
    padding: 0;
}

#heading {
    border-bottom: 3px double #DCD0C0; 
    height: 70px;
/*    top: 0;*/
}

#heading h1 {
    float: left;
    font-size: 50px;
    font-weight: 600;
    padding: 0px 30px;
}

#heading p {
    float: right;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 30px;
    position: relative;
    top: 30px;
}

#sub-heading {
/*    border-left: 5px single #DCD0C0;*/
    height: 80px;
}

#sub-heading p {
    color: #C0B283;
    float: left;
    font-style: italic;
    font-weight: 500;
    padding: 5px 20px;
}

#sub-heading a {
    float: right;
    position: relative;
    top: 5px;
}

#github:before {
    content: "\f09b";
    font-family: FontAwesome;
    left: -15px;
    opacity: 0;
    position: relative;
    transition: all 0.75s ease;
}
#github:hover:before {
    left: -10px;
    opacity: 1;
}

#intro {
    padding: 5px 20px;
}

#intro h1 {
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 5px 0;
}

#content {
    padding: 5px 20px;
}

#content h1 {
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 5px 0;
}

.caption {
    font-size: 12px;
    font-style: italic;
    padding: 0 0 10px 0;
    text-align: center;
}

#content img {
    display: block;
    margin: 0 auto;
    padding: 10px 5px;
}

#footing {
    padding: 5px 20px;
}

#footing h1 {
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 5px 0;
}

#up-next {
    border-top: 3px double #DCD0C0;
    padding: 5px 20px;
}

#up-next p {
    text-align: center;
}

#up-next p:not(#next-project) {
    font-size: 12px;
    font-weight: 700;
    padding: 15px 5px 15px 5px;
}

#up-next #next-project {
    font-size: 20px;
    font-weight: 1000;
    padding: 0 5px 20px 5px;
}

#up-next a {
    margin: 0 auto;
}

.body p, .body h1, .body ul {
    margin: 0 auto;
    max-width: 1000px;
}

#content a {
    background: #DCD0C0;
    text-decoration: none;
}

#content a:hover {
    background: #C0B283;
    transition: all 0.75s ease;
}

@media screen and (max-width: 700px) {
    #heading h1 {
        float: none;
        padding: 0;
        position: relative;
        text-align: center;
        top: -10px;
    }
    
    #heading p {
        float: none;
        padding: 0;
        text-align: center;
        top: -10px;
    }
    
    #sub-heading p {
        float: none;
        padding: 0;
        text-align: center;
    }
    
    #sub-heading a {
        float: none;
        margin: 0 auto;
    }
}