/* Resume Button */
#resume:before {
    content: "\f0f6";
    font-family: FontAwesome;
    font-size: 25px;
    left: -13px;
    opacity: 0;
    position: relative;
    transition: all 0.75s ease;
}

#resume:hover:before {
    left: -8px;
    opacity: 1;
}

/* Body styles */
article h1 {
    font-size: 45px;
}
article h1, h2, p {
    padding: 10px 0;
}


@media screen and (max-width: 480px) {
    #resume:before {
        font-size: 15px;
    }
}
