/* Body styles */
.body p {
    font-size: 25px;
    padding: 5px 0;
    text-align: center;
}

.body #email {
    font-weight: 1000;
    text-align: center;
}

.body a {
    margin: 0 auto;
    
}

/* Contact Buttons */
#linkedin:before {
    content: "\f08c";
    font-family: FontAwesome;
    left: -15px;
    opacity: 0;
    position: relative;
    transition: all 0.75s ease;
}

#linkedin:hover:before {
    left: -10px;
    opacity: 1;
}

#github:before {
    content: "\f09b";
    font-family: FontAwesome;
    left: -15px;
    opacity: 0;
    position: relative;
    transition: all 0.75s ease;
}

#github:hover:before {
    left: -10px;
    opacity: 1;
}

@media screen and (max-width: 480px) {
    .body p {
        font-size: 15px;
    }
}
