h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #062F4F;
    font-size: 20px;
}

h2 {
    color: #1E392A;
}

h3 {
    color: #3CC47C;
}

p, a, li {
    font-family: "Montserrat", sans-serif;
}

p, li {
    color: #696969;
}

a {
    color: #565656;
}

/* Entire body */
.wrapper { 
    display: flex;
    flex-direction: column;
}
.wrapper div {
    flex: 1;
}

/* Header */
#header {
    border-bottom: 4px double #3CC47C;
    padding: 5px;
}

#header-icon p{
    color: #0B3C5D;
    display: flex;
    font-size: 28px;
    font-weight: 550;
    justify-content: flex-start;
    padding: 0 15px;
}

#nav-bar {
    align-items: center;
    align-content: flex-end;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

#nav-bar a {
    text-align: left;
    width: 30%;
}

nav a {
    border-left: 1px solid #3CC47C;
    color: #1E392A;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    color: #3CC47C !important;
    transition: all 0.3s ease;
}

/* Content */
#title-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    text-align: center;
}

#title-card span {
    color: #373737;
    font-weight: 750;
}

#blank {
/*    height: 150px;*/
}

#content {
    border-bottom: 4px double #3CC47C;
    margin: 0 auto;
    width: 90%;
}

#content article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    text-align: center;
}

#content article h2 {
    border-bottom: 2px solid #3CC47C;
    margin: 0 auto;
    width: 200px;
}

#education {
    text-align: left;
}

#courses {
    text-align: left;
}

#skills div {
    margin: 0 auto;
}

#skills div ul li {
    text-align: left;
}

#content #skills #skills-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content #about #uci-wrapper, #content #about #pcc-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#tab-grid {
/*    padding: 0 30px 0 30px;*/
}

.tab {
    border-radius: 20px;
    text-decoration: none;
}

.tab div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tab #name {
    font-weight: 900;
}

.tab #tech, .tab #des {
    opacity: 1;
}

.tab #tech {
    color: #E37222;
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
}

.tab #des {
    grid-area: des;
    font-size: 12px;
}

.tab img {
    flex: 1 2 10%;
    height: 170px;
    width: 100%;
}

.tab:hover {
    border: 1px solid #3CC47C;
    transition: all 0.5s ease;
}

.tab:hover p {
    color: #3CC47C;
    font-weight: 700;
    transition: all 0.3s ease;
}

#contact p span {
    color: #373737;
    font-weight: 750;
}

/* Footer */
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer-text {
    font-size: 9px;
    padding-bottom: 30px;
}

#anchor-top {
    bottom: 5px;
    margin: 0 auto;
    position: fixed;
    right: 0;
    width: 125px;
}

#anchor-top a {
    z-index: 100;
}

#contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contact-icons i {
    color: #1E392A;
}

#contact-icons i:hover {
    color: #3CC47C;
    transition: all 0.7s ease;
}

.beginner {
    color: #E37222;
}

.intermediate {
    color: #3CC47C;
}

.bold {
    color: #373737;
    font-weight: 750;
}

.button {
    background-color: #1E392A;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    padding: 5px;
    text-decoration: none;
    width: 100px;
}

.button:hover {
    background-color: white;
    box-shadow: inset 0 0 0 3px #3CC47C;
    color: black;
    font-weight: 1000;
    transition: all 1s ease;
}
