footer div {
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

nav {
    left: 0;
    overflow: hidden;
    top: 0;
}

.body-container {
    margin: auto;
    position: relative;
    top: 100px;
    width: 50%;
}

.nav-bar {
    background-color: #333;
    border: 1px solid #111;
    left: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar li {
    float: left;
}

.nav-bar li .active {
    background-color: #4CAF50;
}

.nav-bar li a {
    color: white;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 30px;
    padding: 10px 30px 10px 35px;
    text-align: center;
    text-decoration: none;
    vertical-align: center;
}

.nav-bar li a:hover {
    background-color: #4CAF50;
    box-shadow: inset 0 0 0 6px #333;
    transition: all 0.75s ease;
}

.nav-bar li a:hover:not(.active) {
    background-color: #4CAF50;
    box-shadow: inset 0 0 0 6px #333;
    transition: all 0.5s ease;
}

.text-hover:hover {
    box-shadow: inset 0 0 5px 10px #4CAF50;
    transition: all 0.5s ease;
}

.text-hover-big:hover {
    box-shadow: inset 0 0 5px 13px #4CAF50;
    transition: all 0.5s ease;
}

.home:before {
    content: "\f015";
    font-family: FontAwesome;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 13px;
    transition: all 0.75s ease;
}

.home:hover:before {
    left: 10px;
    opacity: 1;
}

.projects:before {
    content: "\f187";
    font-family: FontAwesome;
    font-size: 25px;
    left: 143px;
    opacity: 0;
    position: absolute;
    top: 13px;
    transition: all 0.75s ease;
}

.projects:hover:before {
    left: 148px;
    opacity: 1;
}

.about:before {
    content: "\f183";
    font-family: FontAwesome;
    left: 340px;
    opacity: 0;
    position: absolute;
    top: 13px;
    transition: all 0.75s ease;
}

.about:hover:before {
    left: 345px;
    opacity: 1;
}

.contact:before {
    content: "\f10b";
    font-family: FontAwesome;
    font-size: 30px;
    left: 490px;
    opacity: 0;
    position: absolute;
    top: 10px;
    transition: all 0.75s ease;
}

.contact:hover:before {
    left: 495px;
    opacity: 1;
}


/*

.text-hover:before {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    content: '';
    height: 42px;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: all 2s ease;
    width: 0px;
}
*/


/*
body {
    background-color: black;
    height: 100%;
    width: 100%;
}
*/

@media screen and (max-width: 600px) {
    .nav-bar li {float: none;}
    .body-container {top: 200px;}
    .home:before {top: 12px; left: -30px;}
    .home:hover:before {top: 12px; left: 80px;}
    .projects:before {top: 65px; left: -30px;}
    .projects:hover:before {top: 65px; left: 80px;}
    .about:before {top: 118px; left: -30px;}
    .about:hover:before {top: 118px; left: 80px;}
    .contact:before {top: 171px; left: -30px;}
    .contact:hover:before {top: 171px; left: 80px;}
}
