#content-nav-bar {
    align-items: center;
    align-content: flex-end;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0 15px;
}

#content-nav-bar a {
    text-align: left;
    width: 70%;
}

#content-nav-bar #to-projects {
    color: #373737;
    font-weight: 750;
}

#heading {
    border-bottom: 2px solid #3CC47C;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#heading h1 {
    font-size: 25px;
    font-weight: 800;
    word-break: break-all;
}

#heading p {
    color: #E37222;
    font-size: 14px;
}

#sub-heading {
/*    border-bottom: 2px solid #3CC47C;*/
    display: flex;
    flex-direction: column;
    text-align: center;
}

#sub-heading p {
    font-size: 14px;
    font-style: italic;
}

#sub-heading a {
    
}

#sub-heading #dev-tag {
    color: #373737;
    font-weight: 750;
}

/*
#project-techs-wrapper {
    display: flex;
    flex-direction: column;
}
*/

/*
#project-techs-wrapper h3 {
    margin: 0;
}
*/

#project-techs {
    margin: 0 auto;
    padding: 10px 0;
/*    text-align: left;*/
}

#body {
    border-bottom: 2px solid #3CC47C;
}

#body p, h2, h3 {
    word-break: keep-all;
}

#body p {
    text-align: center;
}

#body ul {
    text-align: left;
}

#body ul span, #body p .bold {
    color: #373737;
    font-weight: 750;
}

#body p span {
    color: #E37222;
}

#body p .project-name {
    color: #3CC47C;
}

#body a {
    color: #373737;
    font-weight: 550;
}

.img-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.img-wrapper img {
    max-width: 80%;
/*    width: 80%;*/
}

.caption {
    font-size: 12px;
    font-style: italic;
    text-align: center !important;
    width: inherit;
}

.multi-list {
    align-items: baseline;
    display: flex;
    flex-direction: column;
}

#footing {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#foot-nav-wrapper {
    display: flex;
    flex-direction: column;
}

#footing .foot-nav-text {
    color: #E37222;
    font-size: 12px;
    font-weight: 750;
}

#previous, #next {
    padding: 5px 0 15px 0;
}

#previous {
    border-bottom: 1px dashed #3CC47C;
}

#previous-project, #next-project {
    color: #373737;
    font-size: 18px;
    font-weight: 750;
}